*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    margin: 0 auto;
}

body{
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}

#main{
    background-color: cornsilk;
    max-height: 800px;
    min-height: 600px;
    
    width: 70%;
}

#seccionLogo{
    background-color: white;
    margin-bottom: 3em;
    font-family: 'Staatliches', cursive;
}


form{
    margin-top: 8em;
    background-color: white;
    width: 60%;
    padding: 2em;
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
}



.subrayado{
    text-decoration: underline;
}

#textoUniversidad{
    font-size: 1.3em; 
    color: #8198AA;
    margin-left: 3em;
    margin-top: -3.5em;
}

#textoCusur{
    font-size: .8em;
    color: #8198AA;
    margin-left: 7.5em;
    margin-top: -1em;
}


#login{
    margin-left: 3em;
}

label{
    min-width: 70%;
    max-width: 90%;
    display: block;
    padding: .5em;
    color: cadetblue;
}

input{
    padding: 10px 35px;
    background-color: lightgray;
    border: 1px solid transparent;
    transition: all .4s;
    min-width: 70%;
    max-width: 90%;
}

input:focus{
    background-color: white;
    border: 1px solid teal;
}

button{
    display: block;
    margin-top: 25px;
    margin-left: 0px;
    padding: .5em 1.5em;
    background-color: darkorange;
    border: none;
    color: black;
    cursor: pointer;
    transition: background-color .4s;
}

button:hover{
    background-color: teal;
    color: white;
}

