.main-container {      
    text-align: left;
    padding: 3em 0em;
    height: 90%;
}

.labelInline{
    min-width: 45%;
    max-width: 50%;
    padding: .5em;
    color: cadetblue;
    margin-top: .5em;
    float: left;

}

.inputInline{
    padding: 10px 15px;
    background-color: lightgray;
    border: 1px solid transparent;
    transition: all .4s;
    min-width: 300px;
    max-width: 300px;
    margin-top: .5em;
}

.inputInline:focus{
    background-color: white;
    border: 1px solid teal;
}

#comentarios{
    max-height: 175px;
    min-height: 100px;
}
